*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
   
}
.fundo{
    background-image: linear-gradient(black ,blue);
    height: 100vh;
}
.fundo>.title{
   text-align: center;
   color: wheat;
}
.calculadora{
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   background-image: linear-gradient(rgb(55, 55, 214), black);
   padding: 50px;
   border-radius: 20px 20px 20px 20px;
   text-align: right;
}
.calculadora>h1{
    margin-right: 70px;
    color: white;
}
#resultado{
    margin-top: 15px;
    height: 30px;
    background-color: white;
    font-size: 25px;
}
.botao{
    border: solid 2px white;
    padding: 5px;
    width: 60px;
    height: 60px;
    font-size: 20px;
    border-radius: 10px;
    background-color: black;
    color: white;
   
}
.botao:hover{
    cursor: pointer;
    background-color:white ;
    color: black;
}